

a {
  text-decoration: none !important;
}

.example-card
{
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 10px;

  div
  {
    position: absolute;
    bottom: 0;
    width:100%;

    font-size: 16px;
    color: white;
    background-color: rgba(black, 0.5);
  }

  img {
    width: 100%; height: 100%;
  }
}

header
{
  height: 400px;
  margin-top: -20px;
  margin-left:-15px;
  margin-right:-15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}