
/*----------------------------------------------*\
                      OTROS
\*----------------------------------------------*/

.centered
{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.bold
{
  font-weight: bold;
}

@for $i from 1 through 15
{
  $value: $i*10;
  .paddy-top-#{$value} {padding-top: $value+px !important;}
  .paddy-bottom-#{$value} {padding-bottom: $value+px !important;}

  .paddy-h-#{$value} {padding-left: $value+px !important; padding-right: $value+px !important;}
  .paddy-v-#{$value} {padding-top: $value+px !important; padding-bottom: $value+px !important;}

  .margy-top-#{$value} {margin-top: $value+px !important;}
  .margy-bottom-#{$value} {margin-bottom: $value+px !important;}
  .margy-h-#{$value} {margin-left: $value+px !important; margin-right: $value+px !important;}
  .margy-v-#{$value} {margin-top: $value+px !important; margin-bottom: $value+px !important;}

  .paddy-#{$value} {padding: $value+px !important;}
  .margy-#{$value} {margin: $value+px !important;}
}
@for $i from 1 through 20
{
  $value: $i;
  .paddy-top-#{$value} {padding-top: $value+px !important;}
  .paddy-bottom-#{$value} {padding-bottom: $value+px !important;}

  .paddy-h-#{$value} {padding-left: $value+px !important; padding-right: $value+px !important;}
  .paddy-v-#{$value} {padding-top: $value+px !important; padding-bottom: $value+px !important;}

  .margy-top-#{$value} {margin-top: $value+px !important;}
  .margy-bottom-#{$value} {margin-bottom: $value+px !important;}
  .margy-h-#{$value} {margin-left: $value+px !important; margin-right: $value+px !important;}
  .margy-v-#{$value} {margin-top: $value+px !important; margin-bottom: $value+px !important;}

  .paddy-#{$value} {padding: $value+px !important;}
  .margy-#{$value} {margin: $value+px !important;}
}
.paddy-none
{
  padding: 0;
}
.margy-none
{
  margin: 0 !important;
}